<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../css/entry.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>WW主面板</title>
</head>

<body>
    <div class="ww-container">
        <div class="ww-header">
            <div class="head-top">
                <div class="label-left">
                    <span>WW</span>
                </div>
                <div class="label-right">
                    <img src="../../assets/images/min.png" alt="最小化" title="最小化" id="min" class="no-drag">
                    <img src="../../assets/images/close.png" alt="关闭窗口" title="关闭" id="close" class="no-drag">
                </div>
            </div>
            <div class="head-body">
                <div class="left">
                    <img src="../../assets/images/avatar.png"></img>
                </div>
                <div class="right">
                    <span id="name"></span>
                </div>
            </div>
        </div>
        <div class="ww-body"></div>
        <div class="ww-footer">
            <img src="../../assets/images/add-friend.png" alt="添加好友" id="addFriend" class="no-drag">
        </div>
    </div>
    <script src="../pagejs/entry.js"></script>
</body>

</html>