<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../css/friendPannel.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>查找</title>
</head>

<body>
    <div class="ww-container">
        <div class="ww-header">
            <div class="head-top">
                <div class="label-left">
                    <img src="../../assets/images/avatar.png" alt="应用标致"></img>
                </div>
                <div class="label-right">
                    <img src="../../assets/images/min.png" alt="最小化" title="最小化" id="min" class="no-drag">
                    <img src="../../assets/images/close.png" alt="关闭窗口" title="关闭" id="close" class="no-drag">
                </div>
            </div>
        </div>
        <div class="ww-body">
            <div class="top">
                <input type="text" id="keyword" class="no-drag" placeholder="输入ww号或者对方昵称"></input>
                <div class="search no-drag" id="search">查找</div>
            </div>
            <div class="body" id="template-body">

            </div>
        </div>
    </div>
    <script src="../pagejs/friendPannel.js"></script>
</body>

</html>