<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../css/login.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>WW登录</title>
</head>

<body>
    <div class="login-container">
        <div class="login-header">
            <div class="label-left">
                <img src="../../assets/images/avatar.png" alt="应用标致"></img>
                <span>WW</span>
            </div>
            <div class="label-right">
                <img src="../../assets/images/min.png" alt="最小化" title="最小化" id="min" class="no-drag">
                <img src="../../assets/images/close.png" alt="关闭窗口" title="关闭" id="close" class="no-drag">
            </div>
        </div>
        <div class="login-body">
            <div class="item">账号：
                <input type="text" id="account" class="no-drag"></input>
            </div>
            <div class="item">密码：
                <input type="password" id="password" class="no-drag"></input>
            </div>
            <div class="login no-drag" id="login">登录</div>
        </div>
    </div>
    <script src="../pagejs/login.js"></script>
</body>

</html>